{
  "presets": ["build-engine/reactWebpack"],
  "env": {
    "compile": {
      "presets": ["build-engine"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["build-engine/react"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "^actions(.*)$": "<rootDir>/src/actions$1",
        "^assets(.*)$": "<rootDir>/src/assets$1",
        "^constants(.*)$": "<rootDir>/src/constants$1",
        "^containers(.*)$": "<rootDir>/src/containers$1",
        "^components(.*)$": "<rootDir>/src/components$1",
        "^journeys(.*)$": "<rootDir>/src/journeys$1",
        "^copies(.*)$": "<rootDir>/src/copies$1",
        "^reducers(.*)$": "<rootDir>/src/reducers$1",
        "^store(.*)$": "<rootDir>/src/store$1",
        "^styles(.*)$": "<rootDir>/src/styles$1",
        "^services(.*)$": "<rootDir>/src/services$1",
        "^utils(.*)$": "<rootDir>/src/utils$1",
        "^middleware(.*)$": "<rootDir>/src/middleware$1"
      }
    }]
  ],
}

