{
  "presets": [
    "build-engine/reactWebpack",
    "flow"
  ],
  "env": {
    "compile": {
      "presets": ["build-engine"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["build-engine/react"]
    }
  },
  "plugins": [
    "transform-flow-comments",
    "transform-flow-strip-types"
  ]
}

